body {
    font-family: serif;
}

.centered {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

#para {
    padding-left: 50px;
    padding-top: 25px;
    font-size: 20px;
}

p {
    font-size: 16px;

}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 100%;
    padding: 25px;
}

.wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input_field {
    margin-bottom: 10px;
}

.wrapper
    .input_field
    input[type="text"],
.wrapper textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
}

.wrapper textarea {
    resize: none;
    height: 80px;
}

.wrapper .btn input[type="submit"] {
    border: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #569a4d;
    color: #fcfbf7;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#error_message {
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}
